.App {
  text-align: center;
  overflow-x: hidden;
}

/* Global Styles */
:root {
  --primary-color: #4F46E5;
  --secondary-color: #F28D35;
  --primary-hover: #3a2bd6;
  --analogous-color1:#6A44F2;
  --analogous-color2:#1CBDDD;
  --Triadic-color1:#52378C;
  --dark-color:#4DCA79;
  --text-color: #2F2F2F;
  --text-color2:#FFFFFF;
  --text-color3:#000000;
  --text-color-light: #6F6C90;
  --text-color-subtle: #9C9991;
  --accent-color1:#E2F2FE;
  --accent-color1:#FFF8E0;
  --error-color:#ee1f1f;
  --Success-color:rgb(2, 182, 77);
}

body {
  font-family:'Inter', sans-serif;
  line-height: 100%;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}


/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeIn 0.8s ease forwards;
}